/* Body */
html {
    height: 100%;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    background-color: #14213D;
    color: #fff;
    height: 100%;
}

a:link, a:visited, a:hover, a:active {
    color: #777777;
    text-decoration: none;
}

h1 {
    font-weight: bold;
    color: #000;
    font-size: 2em;
}

/* Navigation */
#navigation:after {
  background: linear-gradient(to right, #14213D 25%,#FCA311 25%, #FCA311 50%, #E5E5E5 50%, #E5E5E5 75%, #FFFFFF 75%);
  position: absolute;
  content: '';
  height: 5px;
  right: 0;
  left: 0;
  top: 0;
  margin:
}

/* Sections */
#greeting {
    font-size: 1em;
    width: 100%;
    font-weight: bold;
    margin-bottom: -1em;
}

#name {
    font-size: 4em;
    display: block;
    width: 100%;
    font-weight: bold;
}

#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
    display: block;
    text-align: center;
    margin: 0;
}

.section-container {
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
}

.intro {
    background-color: #14213D;
    padding-top: 3em;
}

.about {
    background-color: #FCA311;
    padding-top: 3em;
}

.projects {
    background-color: #E5E5E5;
    padding-top: 3em;
}

.contact {
    background-color: #FFFFFF;
    padding-top: 3em;
}

.nav_link {
    font-size: .75em;
    margin: .25vw
}

/* Elements */
#pic {
    height: 20em;
    position: absolute;
    right: 5em;
}

#short-desc {
    width: 50%;
    display: block;
    margin-bottom: 3em;
    font-size: 1.25em;
    color: #777;
}

#school {
    color: #777;
}

#skill-head {
    text-align: right;
    display: block;
    margin-right: 25em;
    margin-left: auto;
    width: 25em;
}

#skill-tags {
    text-align: right;
    display: block;
    margin-right: 25em;
    margin-left: auto;
    width: 25em;
}

.badge {
    background-color: #fff;
    color: #FCA311;
}

.social-link {
    font-size: 1.5em;
    display: block;
}

.card-title {
    color: #000;
    font-size: 1em;
}

.card-text {
    font-size: .75em;
    color: #000;
}

/* Mobile */
@media screen and (max-width: 500px) {
    body {
        font-size: 12px;
    }

    .nav_link {
        margin: .5em;
    }

    #name {
        line-height: 1em;
    }

    #pic {
        height: 14em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        display: block;
        position: static;
        right: 0em;
    }

    .section-head {
        text-align: center;
    }

    #school {
        font-size: .87em;
        display: block;
        text-align: center;
        margin-bottom: 1em;
    }

    #short-desc {
        width: 100%;
        text-align: center;
    }

    #skill-head, #skill-tags {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }

    .card-img-top {
        height: 0px;
    }

    .card {
        margin-bottom: .5em;
    }

    .card-body {
        padding: 1em;
    }

    .card-title {
        margin-bottom: .2em;
    }
  }

/* Orientation lock */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}